npm-debug.log
yarn-error.log
node_modules/
.rpt2_cache/
coverage/
docs/

############
# Windows Crap
############

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

cfg

############
# Mac crap
############
.DS_Store